
<div class="row medium-12 large-10 columns mg-vehicle-wrapper">
  <div class="grid-x grid-padding-x mg-toptext">
    <div class="small-12 medium-12 large-12  cell mg-form-div">

      <h5 class="mg-login-h5">Forgot your password?</h5>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <div class=""><%= f.label :email %></div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="actions  mg-loginbutton ">
        <%= f.submit "Send me reset password instructions" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>

    </div>
  </div>
</div>